<template>
	<el-col :span="19">
		<el-card class="el-card__home" shadow="never" body-style="{ padding: '0px' }">
			<div class="el-card__img-container">
				<!-- <img src="@/assets/image/bg_algebra.webp" alt="Алгебра" /> -->
				<div class="el-card__img-header">
					<span>Набор калькуляторов</span>
				</div>
			</div>
			<el-breadcrumb separator-class="el-icon-arrow-right" class="el-breadcrumb__home">
				<el-breadcrumb-item :to="{ path: '/' }">Домой</el-breadcrumb-item>
				<el-breadcrumb-item>promotion management</el-breadcrumb-item>
			</el-breadcrumb>
			<div class="grid-content">
				<el-collapse v-model="activeName" accordion>
					<div>
						<el-collapse-item name="1">
							<template slot="title">
								<el-divider content-position="left"
									><i class="el-icon-star-on"></i> Алгебра
									<i class="el-icon-star-on"></i
								></el-divider>
							</template>
							<p>
								В приложении представлены основные калькуляторы, применяемые в
								разных сферах. Пердставлены калькуляторы по таким темам как:
							</p>
							<ol>
								<li>Модуль. Предел. Непрерывность. Производная</li>
								<li>Применение производной</li>
								<li>Интеграл и его применение</li>
								<li>
									Производная и первообразная показательной, степенной и
									логарифмической функции.
								</li>
								<li>Комплексные числа и действия с ними</li>
								<li>Элементы комбинаторики</li>
								<li>Начала теории вероятности</li>
								<li>Введение в статистику</li>
							</ol>
						</el-collapse-item>
						<el-collapse-item name="2"
							><template slot="title">
								<el-divider content-position="left"
									><i class="el-icon-star-on"></i> Геометрия
									<i class="el-icon-star-on"></i
								></el-divider>
							</template>
							<p>
								В приложении представлены основные калькуляторы, применяемые в
								разных сферах. Пердставлены калькуляторы по таким темам как:
							</p>
							<ol>
								<li>Введение в стереометрию</li>
								<li>Параллельность в пространстве</li>
								<li>Перпендикулярность прямых и плоскостей</li>
								<li>Декартовы координаты и векторы в пространстве</li>
								<li>Многогранники. Призма</li>
								<li>Пирамиды</li>
								<li>Тела вращения. Поверхности и объемы тел вращения</li>
								<li>Комбинации геометрических тел</li>
							</ol>
						</el-collapse-item>
						<el-collapse-item name="3">
							<template slot="title">
								<el-divider content-position="left"
									><i class="el-icon-star-on"></i> Физика
									<i class="el-icon-star-on"></i
								></el-divider>
							</template>
							<ol>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ol>
						</el-collapse-item>
						<el-collapse-item name="4">
							<template slot="title">
								<el-divider content-position="left"
									><i class="el-icon-star-on"></i> Химия
									<i class="el-icon-star-on"></i
								></el-divider>
							</template>
							<ol>
								<li>Важнейшие химические понятия и законы</li>
								<li>
									Периодический закон и периодическая система Д. И. Менделеева
								</li>
								<li>Строение вещества</li>
								<li>Химические реакции</li>
								<li>Металлы</li>
								<li>Неметаллы</li>
							</ol>
						</el-collapse-item>
						<el-collapse-item name="5">
							<template slot="title">
								<el-divider content-position="left"
									><i class="el-icon-star-on"></i> Экономика
									<i class="el-icon-star-on"></i
								></el-divider>
							</template>
							<span
								>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
								quasi molestias tempora iure amet obcaecati eveniet voluptas
								perspiciatis recusandae neque.</span
							>
						</el-collapse-item>
						<el-collapse-item name="6">
							<template slot="title">
								<el-divider content-position="left"
									><i class="el-icon-star-on"></i> Биология
									<i class="el-icon-star-on"></i
								></el-divider>
							</template>
							<ol>
								<li>Молекулярный уровень организации жизни</li>
								<li>Клеточный уровень организации жизни</li>
								<li>Организменный уровень организации жизни</li>
								<li>Организменный уровень организации жизни(продолжение)</li>
								<li>Основы экологии</li>
								<li>Историческое развитие органического мира</li>
							</ol>
						</el-collapse-item>
					</div>
				</el-collapse>
			</div>
		</el-card>
	</el-col>
</template>

<script>
export default {
	data() {
		return {
			activeName: '1'
		};
	}
};
</script>
<style scoped>
.el-card__home .el-card__body {
	padding: 0;
}
.el-card__img-container {
	overflow: hidden;
	border-radius: 4px 4px 0 0;
	height: 250px;
	background-color: #504b41;
}
.el-breadcrumb__home {
	height: 50px;
	background-color: #767066;
	display: flex;
	align-items: center;
	padding: 0 0 0 1rem;
	color: #d3cabb;
}
.el-card__body .grid-content {
	padding: 15px 10px;
	font-size: 1.3rem;
}
</style>
