<template>
	<el-col :span="19">
		<el-card class="el-card__home" shadow="never" body-style="{ padding: '0px' }">
			<div class="img-container">
				<!-- <img src="@/assets/image/bg_algebra.webp" alt="Алгебра" /> -->
				<div class="el-card__img-header">
					<span>Алгебра</span>
				</div>
			</div>
			<el-breadcrumb separator-class="el-icon-arrow-right" class="el-breadcrumb__home">
				<el-breadcrumb-item :to="{ path: '/' }">homepage</el-breadcrumb-item>
				<el-breadcrumb-item>promotion management</el-breadcrumb-item>
				<el-breadcrumb-item>promotion list</el-breadcrumb-item>
				<el-breadcrumb-item>promotion detail</el-breadcrumb-item>
			</el-breadcrumb>
			<div class="grid-content">
				<el-menu class="el-menu__home" mode="vertical">
					<el-menu-item index="1" @click="dialogVisible = true"
						>Предел функции</el-menu-item
					>
					<el-dialog :visible.sync="dialogVisible" fullscreen="true">
						<template v-slot:title>Предел функции</template>
						<limit-function></limit-function>
					</el-dialog>
				</el-menu>
			</div>
		</el-card>
	</el-col>
</template>

<script>
import limitFunction from '@/components/Algebra/limitFunction.vue';
export default {
	components: {
		'limit-function': limitFunction
	},
	data() {
		return {
			dialogVisible: false,
			gridData: [
				{
					date: '2016-05-02',
					name: 'John Smith',
					address: 'No.1518,  Jinshajiang Road, Putuo District'
				},
				{
					date: '2016-05-04',
					name: 'John Smith',
					address: 'No.1518,  Jinshajiang Road, Putuo District'
				},
				{
					date: '2016-05-01',
					name: 'John Smith',
					address: 'No.1518,  Jinshajiang Road, Putuo District'
				},
				{
					date: '2016-05-03',
					name: 'John Smith',
					address: 'No.1518,  Jinshajiang Road, Putuo District'
				}
			]
		};
	}
};
</script>
<style scoped>
.el-card__home .el-card__body {
	padding: 0;
}
.img-container {
	overflow: hidden;
	border-radius: 4px 4px 0 0;
	height: 250px;
	background-color: #504b41;
}
.el-breadcrumb__home {
	height: 50px;
	background-color: #767066;
	display: flex;
	align-items: center;
	padding: 0 0 0 1rem;
	color: #d3cabb;
}
</style>
