<!-- //TODO просмотреть варианты переноса слов -->
<!-- //TODO изменить метки на графике квадратичной функции по оси Y -->
<template>
	<div>
		<el-row>
			<el-col :span="12" class="col__border-left">
				<h2>Теория</h2>
				<p>
					Число <span v-katex="'\a'" /> называется пределом функции
					<span v-katex="'\{f(x)}'" /> в точке <span v-katex="'\{x_0}'" />, если:
				</p>
				<ol>
					<li>
						функция <span v-katex="'\{f(x)}'" /> определена на некоторой проколотой
						окрестности конечной точки <span v-katex="'\{x_0}'" />;
					</li>
					<li>
						для любого <span v-katex="'\\varepsilon>{0}'" /> существует такое
						<span v-katex="'\\delta_{\\varepsilon}>{0}'" />, зависящее от
						<span v-katex="'\\varepsilon'" />, что для всех <span v-katex="'\{x}'" />,
						для которых
						<span v-katex="'\{0}<\\mid{x}-{x_0}\\mid<\\delta_{\\varepsilon}'" />,
						выполняется неравенство
						<span v-katex="'\\mid{f(x)}-{a}\\mid<\\varepsilon'" />.
					</li>
				</ol>
				<p>
					С помощью логических символов существования и всеобщности определение предела
					функции можно записать следующим образом:
				</p>
				<p>
					<span
						v-katex="
							'\{a}=\\lim\\limits_{x\\to{x_0}}{f(x)}\\xLeftrightarrow{\def}\\forall\\varepsilon>{0}\\;\\;\\exists\\delta_{\\varepsilon}>0\\;\\;\\forall{x}\,\\;{0}<\\mid{x}-{x_0}\\mid<\\delta_{\\varepsilon}\\;\:\\;\\;\\mid{f(x)}-{a}\\mid<\\varepsilon'
						"
					/>
				</p>
				<h4>Односторонние пределы.</h4>
				<p>Левый предел в точке <span v-katex="'\{x_0}'" /> (левосторонний предел):</p>
				<p>
					<span
						v-katex="
							'\{a}=\\lim\\limits_{x\\to{x_0-0}}{f(x)}\\xLeftrightarrow{\def}\\forall\\varepsilon>{0}\\;\\;\\exists\\delta_{\\varepsilon}>0\\;\\;\\forall{x}\,\\;{0}<{x_0}-{x}<\\delta_{\\varepsilon}\\;\:\\;\\;\\mid{f(x)}-{a}\\mid<\\varepsilon'
						"
					/>
				</p>
				<p>Правый предел в точке <span v-katex="'\{x_0}'" /> (правосторонний предел):</p>
				<p>
					<span
						v-katex="
							'\{a}=\\lim\\limits_{x\\to{x_0+0}}{f(x)}\\xLeftrightarrow{\def}\\forall\\varepsilon>{0}\\;\\;\\exists\\delta_{\\varepsilon}>0\\;\\;\\forall{x}\,\\;{0}<{x}-{x_0}<\\delta_{\\varepsilon}\\;\:\\;\\;\\mid{f(x)}-{a}\\mid<\\varepsilon'
						"
					/>
				</p>
				<p>Пределы слева и справа часто обозначают так:</p>
				<p>
					<span
						v-katex="
							'\{f(x_0-0)}=\\lim\\limits_{x\\to{x_0-0}}{f(x)}\;\\;\{f(x_0+0)}=\\lim\\limits_{x\\to{x_0+0}}{f(x)}'
						"
					/>
				</p>
				<h4>Бесконечные пределы.</h4>
				<p>
					Предел функции <span v-katex="'\{f(x)}'" /> при
					<span v-katex="'\{x\\to x_0}'" /> равен бесконечности, если
				</p>
				<ol>
					<li>
						существует такая проколотая окресность конечной точки
						<span v-katex="'\{x_0}'" />, на которой функция определена
					</li>
					<li>
						для любого, сколь угодно большого числа <span v-katex="'\{M>0}'" />,
						существует такое число <span v-katex="'\{\\delta_m > 0}'" />, зависящее от
						<span v-katex="'\{M}'" />, что для всех <span v-katex="'\{x}'" />,
						принадлежащих проколотой <span v-katex="'\{\\delta_m}'" /> - окрестности
						точки <span v-katex="'\{x_0}\: {0<\\mid{x - x_0}\\mid < \\delta_m}'" />,
						значения функции принадлежат окрестности бесконечно удаленной точки:
						<span v-katex="'\{\\mid f(x)\\mid > M}'" />
					</li>
				</ol>
				<p>Бесконечный предел обозначают так:</p>
				<p><span v-katex="'\\lim\\limits_{x\\to x_0}f(x) = \\infty'" /></p>
			</el-col>
			<el-col :span="12" class="col__border-right">
				<h2>Примеры</h2>
				<el-row :gutter="10">
					<h3>Пример 1.</h3>
					<el-col :span="8">
						<div id="qudro"></div>
					</el-col>
					<el-col :span="13">
						<p>
							Рассмотрим таблицу значений функции
							<span v-katex="'\{y}={x^2}'" /> в точках, которые на числовой прямой
							расположены достаточно близко к числу 2 (и в самой точке 2)
						</p>
						<el-table
							:data="quadraTableData"
							border
							style="width: 100%"
							:show-header="false"
							class="table__limit-function"
						>
							<el-table-column prop="name">
								<template slot-scope="scope"
									><span v-katex="scope.row.name"/></template
							></el-table-column>
							<el-table-column prop="value1"> </el-table-column>
							<el-table-column prop="value2"> </el-table-column>
							<el-table-column prop="value3"> </el-table-column>
							<el-table-column prop="value4"> </el-table-column>
							<el-table-column prop="value5"> </el-table-column>
						</el-table>
						<p>
							Чем ближе аргумент <span v-katex="'\{x}'" /> к числу 2 (пишут
							<span v-katex="'\{x\\to 2}'" />), тем ближе значение функций к числу 4
							(<span v-katex="'\{f(x)\\to 4}'" />).
						</p>
						<p>Записывают так: <span v-katex="'\\lim\\limits_{x\\to 2}{x^2} = 4'" /></p>
					</el-col>
				</el-row>
				<el-row :gutter="10">
					<h3>Пример 2.</h3>
					<el-col :span="8">
						<div id="frac"></div>
					</el-col>
					<el-col :span="13">
						<p>
							Рассмотрим таблицу значений функции
							<span v-katex="'\{y}=\\dfrac{x^2 - 9}{x - 3}'" /> около точки
							<span v-katex="'\{x} = 3'" />
						</p>
						<el-table
							:data="fracTableData"
							border
							style="width: 100%"
							:show-header="false"
							class="table__limit-function"
						>
							<el-table-column prop="name">
								<template slot-scope="scope"
									><span v-katex="scope.row.name"/></template
							></el-table-column>
							<el-table-column prop="value1"> </el-table-column>
							<el-table-column prop="value2"> </el-table-column>
							<el-table-column prop="value3"> </el-table-column>
							<el-table-column prop="value4"> </el-table-column>
							<el-table-column prop="value5"> </el-table-column>
						</el-table>
						<p>
							Если
							<span v-katex="'\{x\\to 3}\\;(x\\not=3)'" />, то
							<span
								v-katex="
									'\{f(x)\\to 6}:\\;\\lim\\limits_{x\\to 3}\\dfrac{x^2 - 9}{x - 3} = 6'
								"
							/>
						</p>
					</el-col>
				</el-row>
			</el-col>
		</el-row>
		<el-row>
			<h2>Решение задач</h2>
			<el-col :span="12" class="col__border-left">
				<h3>Доказать равенство предела функции</h3>
				<el-steps
					:space="600"
					:active="activeStepProve"
					finish-status="success"
					align-center
				>
					<el-step title="Условие задачи"></el-step>
					<el-step title="Решение"></el-step>
				</el-steps>
				<el-card v-if="activeStepProve == 0" class="box-card">
					<el-form ref="form" :model="inputValue">
						<el-form-item>
							<el-input v-model="inputValue.function">
								<template slot="prepend"
									>Доказать, что предел функции <span v-katex="'\{f(x)=}'"
								/></template>
								<i
									class="el-icon-warning el-input__icon"
									slot="suffix"
									v-popover:info
								>
								</i>
							</el-input>
							<el-popover
								placement="left"
								title="Title"
								width="200"
								trigger="click"
								content="this is content, this is content, this is content"
								ref="info"
							>
							</el-popover>
						</el-form-item>
						<el-form-item>
							<el-input v-model="inputValue.limit">
								<template slot="prepend"
									>равен числу <span v-katex="'\{a = }'"
								/></template>
							</el-input>
						</el-form-item>
						<el-form-item>
							<el-input v-model="inputValue.point">
								<template slot="prepend">при <span v-katex="'\{x\\to}'"/></template
							></el-input>
						</el-form-item>
					</el-form>
					<el-button @click="readInputValueProve">Проверить условие</el-button>
				</el-card>
				<el-card v-if="activeStepProve == 1" class="box-card">
					<p>
						Доказать предел функции
						<span v-if="outputValue.function.includes('/')" v-katex:auto>
							\( \lim\limits_{x\to{{ outputValue.point }}} \dfrac{
							{{ outputValue.function[0] }}
							x^{{ outputValue.function[1] }}
							{{ outputValue.function[2] }}
							{{ outputValue.function[3] }}x
							{{ outputValue.function[4] }}
							{{ outputValue.function[5] }}
							} {
							{{ outputValue.function[7] }}x
							{{ outputValue.function[8] }}
							{{ outputValue.function[9] }}

							}= {{ outputValue.limit }} \)
						</span>
						<span v-else v-katex:auto>
							\(\lim\limits_{x\to{{ outputValue.point }}}{{
								outputValue.function[0]
							}}x^{{ outputValue.function[1] }}{{ outputValue.function[2]
							}}{{ outputValue.function[3] }} = {{ outputValue.limit }}\)
						</span>
					</p>
					<el-button @click="nextProve">Рассчитать</el-button>
				</el-card>
				<el-card v-if="activeStepProve == 2" class="box-card">
					<h4>Решение</h4>
					<el-button @click="restartProve">Повторить</el-button>
				</el-card>
			</el-col>
			<el-col :span="12" class="col__border-right">
				<h3>Найти предел функции</h3>
				<el-steps
					:space="600"
					:active="activeStepFind"
					finish-status="success"
					align-center
				>
					<el-step title="Условие задачи"></el-step>
					<el-step title="Решение"></el-step>
				</el-steps>
				<el-card v-if="activeStepFind == 0" class="box-card">
					<el-form ref="form" :model="inputValue">
						<el-form-item>
							<el-input v-model="inputValue.function">
								<template slot="prepend"
									>Найти предел функции <span v-katex="'\{f(x)=}'"
								/></template>
								<i
									class="el-icon-warning el-input__icon"
									slot="suffix"
									v-popover:infoFind
								>
								</i>
							</el-input>
							<el-popover
								placement="left"
								title="Title"
								width="200"
								trigger="click"
								content="this is content, this is content, this is content"
								ref="infoFind"
							>
							</el-popover>
						</el-form-item>
						<el-form-item>
							<el-input v-model="inputValue.point">
								<template slot="prepend">при <span v-katex="'\{x\\to}'"/></template
							></el-input>
						</el-form-item>
					</el-form>
					<el-button @click="readInputValueFind">Проверить условие</el-button>
					<el-button @click="test">Restart</el-button>
				</el-card>
				<el-card v-if="activeStepFind == 1" class="box-card">
					<p>
						Найти предел функции
						<span v-if="outputValue.function.includes('/')" v-katex:auto>
							\( \lim\limits_{x\to{{ outputValue.point }}} \dfrac{
							{{ outputValue.function[0] }}
							x^{{ outputValue.function[1] }}
							{{ outputValue.function[2] }}
							{{ outputValue.function[3] }}x
							{{ outputValue.function[4] }}
							{{ outputValue.function[5] }}
							} {
							{{ outputValue.function[7] }}x
							{{ outputValue.function[8] }}
							{{ outputValue.function[9] }}

							}= {{ outputValue.limit }} \)
						</span>
						<span v-else v-katex:auto>
							\(\lim\limits_{x\to{{ outputValue.point }}}{{
								outputValue.function[0]
							}}x^{{ outputValue.function[1] }}{{ outputValue.function[2]
							}}{{ outputValue.function[3] }}\)
						</span>
					</p>
					<el-button @click="nextFind">Next step</el-button>
				</el-card>
				<el-card v-if="activeStepFind == 2" class="box-card">
					<h4>Решение</h4>
					<el-button @click="restartFind">Restart</el-button>
				</el-card>
			</el-col>
		</el-row>
	</div>
</template>

<script>
import * as d3 from 'd3';
export default {
	data() {
		return {
			inputValue: {
				function: '',
				limit: '',
				point: ''
			},
			outputValue: {
				function: [],
				limit: Number,
				point: Number
			},
			activeStepProve: 0,
			activeStepFind: 0,
			calcVisible: false,
			loadData: {}
		};
	},
	mounted() {
		this.quadroFunc();
		this.fracFunc();
	},
	computed: {
		quadraTableData() {
			return this.$store.getters['components/algebra/tableData'].quadraTableData;
		},
		fracTableData() {
			return this.$store.getters['components/algebra/tableData'].fracTableData;
		},
		quadroGrafData() {
			return this.$store.getters['components/algebra/grafData'].quadroGrafData;
		},
		fracGrafData() {
			return this.$store.getters['components/algebra/grafData'].fracGrafData;
		}
	},
	methods: {
		test() {
			this.$store.dispatch('components/algebra/getdata').then(({ data }) => {
				for (let item in data) {
					alert('Значение у ключа ' + item + ' равна ' + data[item]);
				}
			});
		},
		readInputValueProve() {
			const re = /(?:\()?(\d)(?:x)?(?:\^)?(\d)?([+,-])(\d)?(?:x)?([+,-])?(\d)?(?:\))?(\/)?(?:\()?(\d)?(?:x)?([+,-])?(\d)?(?:\))?/g;
			const inputFunction = this.inputValue.function;
			const outputValue = re.exec(inputFunction);
			this.outputValue.function = outputValue.filter((item, i) => i > 0);
			this.outputValue.limit = +this.inputValue.limit;
			this.outputValue.point = +this.inputValue.point;
			this.nextProve();
		},
		readInputValueFind() {
			const re = /(?:\()?(\d)(?:x)?(?:\^)?(\d)?([+,-])(\d)?(?:x)?([+,-])?(\d)?(?:\))?(\/)?(?:\()?(\d)?(?:x)?([+,-])?(\d)?(?:\))?/g;
			const inputFunction = this.inputValue.function;
			const outputValue = re.exec(inputFunction);
			this.outputValue.function = outputValue.filter((item, i) => i > 0);
			this.outputValue.point = +this.inputValue.point;
			this.nextFind();
		},
		restartProve() {
			this.activeStepProve = 0;
		},
		restartFind() {
			this.activeStepFind = 0;
		},
		nextProve() {
			this.activeStepProve++;
		},
		nextFind() {
			this.activeStepFind++;
		},
		handleClose() {
			this.calcVisible = false;
		},
		quadroFunc(opts, proto = this.quadroGrafData) {
			const chart = Object.assign({}, proto, opts);

			chart.svg = d3
				.select('#qudro')
				.append('svg')
				.attr('id', 'chart')
				.attr('width', chart.width)
				.attr('height', chart.height);

			let xAxisWidth = chart.width - 2 * chart.padding;
			let yAxisWidth = chart.height - 2 * chart.padding;

			const x = d3
				.scaleLinear()
				.domain([0, 10])
				.range([0, xAxisWidth]);

			const y = d3
				.scaleLinear()
				.domain([16, 0])
				.range([0, yAxisWidth]);

			const line = d3
				.line()
				.x(d => d.x)
				.y(d => d.y);

			const xAxis = d3.axisBottom(x).ticks(5);
			const yAxis = d3.axisLeft(y).ticks(5);

			for (let i = 0; i < chart.rawData.length; i++)
				chart.data.push({
					x: x(chart.rawData[i].x) + chart.padding,
					y: y(chart.rawData[i].y) + chart.padding
				});

			chart.svg
				.append('g')
				.attr('class', 'x-axis')
				.attr(
					'transform',
					'translate(' + chart.padding + ', ' + (chart.height - chart.padding) + ')'
				)
				.call(xAxis);

			chart.svg
				.append('g')
				.attr('class', 'y-axis')
				.attr('transform', 'translate(' + chart.padding + ', ' + chart.padding + ')')
				.call(yAxis);

			chart.svg
				.append('g')
				.append('path')
				.attr('d', line(chart.data))
				.attr('fill', 'none')
				.attr('stroke', '#000')
				.attr('stroke-width', 1);
		},
		fracFunc(opts, proto = this.fracGrafData) {
			const frac = Object.assign({}, proto, opts);

			const svg = d3
				.select('#frac')
				.append('svg')
				.attr('id', 'frac_chart')
				.attr('width', frac.width)
				.attr('height', frac.height);

			let xAxisWidth = frac.width - 2 * frac.padding;
			let yAxisWidth = frac.height - 2 * frac.padding;

			const x = d3
				.scaleLinear()
				.domain([0, 10])
				.range([0, xAxisWidth]);

			const y = d3
				.scaleLinear()
				.domain([16, 0])
				.range([0, yAxisWidth]);

			const line = d3
				.line()
				.x(d => d.x)
				.y(d => d.y);

			const xAxis = d3.axisBottom(x).ticks(5);
			const yAxis = d3.axisLeft(y).ticks(5);

			for (let i = 0; i < frac.rawData.length; i++)
				frac.data.push({
					x: x(frac.rawData[i].x) + frac.padding,
					y: y(frac.rawData[i].y) + frac.padding
				});

			svg.append('g')
				.attr('class', 'x-axis')
				.attr(
					'transform',
					'translate(' + frac.padding + ', ' + (frac.height - frac.padding) + ')'
				)
				.call(xAxis);

			svg.append('g')
				.attr('class', 'y-axis')
				.attr('transform', 'translate(' + frac.padding + ', ' + frac.padding + ')')
				.call(yAxis);

			svg.append('g')
				.append('path')
				.attr('d', line(frac.data))
				.attr('fill', 'none')
				.attr('stroke', '#000')
				.attr('stroke-width', 1);
		}
	},
	created() {}
};
</script>
<style scoped>
.el-row {
	margin-bottom: 20px;
}
.el-row:last-child {
	margin-bottom: 0;
}
.col__border-left {
	padding-right: 0.5rem;
	border-right: 1px solid #000;
}
.col__border-right {
	padding-left: 0.5rem;
	border-left: 1px solid #000;
	margin-left: -1px;
}
h2,
h3 {
	text-align: center;
}
.table__limit-function {
	font-size: 1.3rem;
}
.dialog-action {
	position: absolute;
	right: 10%;
	top: -7.6rem;
}
</style>
