@import '~line-awesome/dist/line-awesome/css/line-awesome.min.css';

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

body {
	height: 100%;
}

.el-card__home .el-card__body {
//	padding: 0;
}
.el-card__home{
	border: none;
}
.el-breadcrumb.el-breadcrumb__home .el-breadcrumb__item span{
	color: #d3cabb;
}
.el-breadcrumb.el-breadcrumb__home .el-breadcrumb__item span:hover{
	color:#fff
}
.el-card__img-header {
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 700;
	margin: 30px 0 0 20px;
}
.el-card__home .el-dialog__header {
	border-bottom: 1px solid #e3e3e3;
	padding: 10px;
	font-size: 2.5rem;
	text-align:center
}
.el-card__home .el-dialog__headerbtn{
	top: 10px;
}

.el-card__home .el-card__body .el-icon-warning:before{
	font-size: 2.5rem;
	cursor: pointer;
	color: red;
}
