<template>
	<div class="bg-container">
		<el-row type="flex" class="row-bg" justify="space-between">
			<el-col :span="1.5" class="col-raius bg-white">
				<div class="grid-content">
					<div class="logo el-menu-link">
						<router-link to="/"><i class="las la-calculator"></i></router-link>
					</div>
					<el-menu mode="vertical" router>
						<el-menu-item v-for="link of links" :key="link.title">
							<router-link :to="link.url" class="el-menu-link name">
								<i :class="link.icon" class="el-menu-link-icon"></i>
								{{ link.title }}</router-link
							>
						</el-menu-item>
					</el-menu>
				</div>
			</el-col>
			<router-view></router-view>
			<el-col :span="3">
				<div class="grid-content">Home sidebar</div>
			</el-col>
		</el-row>
	</div>
</template>

<script>
export default {
	data() {
		return {
			links: [
				{
					title: 'Алгебра',
					icon: 'las la-cube',
					url: '/algebra'
				},
				{
					title: 'Геометрия',
					icon: 'las la-cube',
					url: '/geometria'
				},
				{
					title: 'Физика',
					icon: 'las la-cube',
					url: '/physics'
				},
				{
					title: 'Химия',
					icon: 'las la-cube',
					url: '/chemistry'
				},
				{
					title: 'Экономика',
					icon: 'las la-cube',
					url: '/economics'
				},
				{
					title: 'Биология',
					icon: 'las la-cube',
					url: '/biology'
				}
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.bg-container {
	padding: 20px;
	background-image: url('../src/assets/image/bg.png');
	height: auto;
	min-height: 100%;
}

.bg-white {
	background: #fff;
}

.grid-content {
	font-size: 1.6rem;
}

.col-raius {
	border-radius: 5px;
	overflow: hidden;
}

.el-menu {
	border: none;
}

.el-menu-item {
	line-height: 1;
	padding: 0 !important;
	height: 90px;
}

.el-menu-link-icon {
	display: block;
	font-size: 3rem;
}

.el-menu-link {
	text-align: center;
	font-size: 2rem;
	height: 90px;
	border-bottom: 1px solid #e3e3e3;
	padding: 18px 8px 0;
	color: #aaaaaa;
	display: block;
	text-decoration: none;
}

.item-area .name {
	display: block;
	font-size: 2rem;
}

.logo {
	text-align: center;
	font-size: 4rem;
	color: #c9452b;
	padding: 2px;
	padding-top: 20px;
}
.logo a{
	color: #c9452b;
}
</style>
